body{
    background-color: bisque;
}

.main{
    background-color: blanchedalmond;
    align-content: center;
    margin: 30px;
    padding: 20px;
}

h3{
    text-align: center;
    margin: auto;
    background-color: bisque;
    text-shadow: black;
    color: salmon;
}

#result{
    text-align: center;
}

input[type="text"]{
    text-align: center;
    size: 40px;
    border-radius: 2px;
    width: 30%;
    display: block;
    border: 2px solid bisque;
    margin: auto;
}

input[type="text"]:hover,
input[type="text"]:focus{
    text-align: center;
    size: 40px;
    border-radius: 2px;
    width: 30%;
    display: block;
    border: 2px solid salmon;
    outline: none;
    box-shadow: inset 2px salmon;
    margin: auto;
}

input[type="number"]{
    text-align: center;
    size: 40px;
    border-radius: 2px;
    width: 30%;
    display: block;
    border: 2px solid bisque;
    margin: auto;
}

input[type="number"]:hover,
input[type="number"]:focus{
    text-align: center;
    size: 40px;
    border-radius: 2px;
    width: 30%;
    display: block;
    border: 2px solid salmon;
    outline: none;
    box-shadow: inset 2px salmon;
    margin: auto;
}

.inputs{
    margin-bottom: 5px;
    padding: 10px;
}

#input1,#input2{
    margin: auto;
    padding: 5px;
}

input[type="button"],
input[type="submit"],
input[type="reset"]{
    background-color: salmon;
    color: bisque;
    width: 10%;
    /*position: relative;*/
    display: grid;
    grid-template-columns: repeat( 2, 1);
    padding: 10px 0;
    margin: auto;
    border-radius: 3px;
    margin-bottom: 5px;
    outline: none;
    text-align: center;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus{
    border: 2px solid brown;
    text-align: center;
}